{% extends 'base.html.twig' %}

{% block body %}
{# Test Page zum Twig üben #}
<h1>{{ title }}</h1>

<div>
    <p>Loremlk kjasdhflaskjdgflaskjdfg</p>

    <p>Loremlk kjasdhflaskjdgflaskjdfg</p>

    <p>Loremlk kjasdhflaskjdgflaskjdfg</p>

</div>

<h2> Comments ({{ comments|length }})</h2>

<ul>
    {% for comment in comments %}
        <li>{{ comment }}</li>
    {% endfor %}
</ul>

{% endblock %}