/.idea/*
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###
/.idea/workspace.xml

/.Defuse.key
/.Halite.key

