{% extends 'app/base.html.twig' %}

{% block body %}
    <!-- Page Heading -->
    <div class="mb-5">
        <div class="text-center">
            <h1 class="h3 text-gray-800 justify-content-center border-bottom pb-2 mb-2">Benutzerübersicht</h1>
            <p class="mb-4">Untenstehend findest du alle vorhandenen Benutzer von epilepc. <br />Zusätzlich kannst du auf das Pluszeichen <i class="fas fa-plus-circle"></i> klicken, um einen neuen Anfall zu erstellen</p>

            <a href="{{ path('app_useradmin_new') }}"><i class="fas fa-plus-circle fa-3x" style="color: #EEA034"></i></a>
        </div>
    </div>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Alle vorhandenen Benutzer</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" data-sort-name="date" data-sort-order="asc">
                    <thead>
                    <tr>
                        <th>Vorname</th>
                        <th>Nachname</th>
                        <th>Email</th>
                        <th>Deaktiviert</th>
                        <th>Aktionen</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.firstname }}</td>
                            <td>{{ user.lastname }}</td>
                            <td>{{ user.email }}</td>
                            <td>
                                {% if user.deactivated == 0 %}
                                    Nein
                                {% else %}
                                    Ja
                                {% endif %}

                            </td>
                            <td>
                                <a href="#">Anzeigen</a>
                                <a href="#">Bearbeiten</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="6">Keine Benutzer vorhanden</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}