{% extends 'app/base.html.twig' %}

{% block body %}
    <h1>User Admin</h1>

    {{ form_start(userForm) }}
        {{ form_widget(userForm) }}

        <button type="submit" class="btn btn-primary">Create</button>
    {{ form_end(userForm) }}
{% endblock %}
