{% extends 'app/authentication/base.html.twig' %}

{% block title %}Epilepc - Passwort ändern{% endblock %}
{% block body %}
    <!-- Nested Row within Card Body -->
    <div class="row">
        <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
        <div class="col-lg-6">
            <div class="p-5">
                <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-2">Passwort ändern?</h1>
                    <p class="mb-4">Um dein Passwort zu ändern, trage unten dein aktuelles und dein neues Passwort ein.</p>
                </div>
                {{ include('app/authentication/_form.html.twig', {'button_text': 'Passwort ändern'}) }}
                <hr>

                <br />
                <div class="text-center">
                    <a class="small" href="{{ path('app_dashboard') }}">Zurück</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}