{% extends 'app/authentication/base.html.twig' %}

{% block title %}Epilepc - {% trans %}Passwort ändern{% endtrans %}{% endblock %}
{% block body %}
    <!-- Nested Row within Card Body -->
    <div class="row">
        <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
        <div class="col-lg-6">
            <div class="p-5">
                <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-2">{% trans %}Passwort ändern{% endtrans %}?</h1>
                    <p class="mb-4">{% trans %}Um dein Passwort zu ändern, trage unten dein aktuelles und dein neues Passwort ein{% endtrans %}.</p>
                </div>
                <div class="form-group">
                    <p>{% trans %}Um die Sicherheit deiner Daten gewährleisten zu können, muss dein Passwort die folgenden Anforderungen erfüllen{% endtrans %}:</p>
                    <ul class="dashed">
                        <li> {% trans %}Gross- und Kleinschreibung{% endtrans %}</li>
                        <li> {% trans %}Mindestens 2 Zahlen{% endtrans %}</li>
                        <li> {% trans %}Mindestens 1 Sonderzeichen (z.b. $#*){% endtrans %}</li>
                        <li> {% trans %}Mindestlänge des Passworts - 8 Zeichen{% endtrans %}</li>
                    </ul>
                </div>
                {{ include('app/authentication/_form.html.twig', {'button_text': 'Passwort ändern'|trans}) }}
                <hr>

                <br />
                <div class="text-center">
                    <a class="small" href="{{ path('app_dashboard') }}">{% trans %}Zurück{% endtrans %}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
