{% extends 'app/authentication/base.html.twig' %}

{% block body %}
    <!-- Nested Row within Card Body -->
    <div class="row">
        <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
        <div class="col-lg-6">
            <div class="p-5">
                <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-2">Ou.. Passwort vergessen?</h1>
                    <p class="mb-4">Kein Problem, das passiert den Besten von uns. Trage einfach deine Email Adresse ins untenstehende Feld ein und wir schicken dir eine Mail zum Zurücksetzen deines Passworts!</p>
                </div>
                <form class="user">
                    <div class="form-group">
                        <input type="email" class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Email Adresse eingeben...">
                    </div>
                    <a href="login.html" class="btn btn-primary btn-user btn-block">
                        Passwort zurücksetzen
                    </a>
                </form>
                <hr>
                <div class="text-center">
                    <a class="small" href="{{ path('app_register') }}">Registriere dich!</a>
                </div>
                <div class="text-center">
                    <a class="small" href="{{ path('app_login') }}">Account bereits erstellt? Log dich jetzt ein!</a>
                </div>
                <br />
                <div class="text-center">
                    <a class="small" href="{{ path('app_landingpage') }}">Zurück</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}