{% extends 'base.html.twig' %}

{% block title %}New Diaryentry{% endblock %}

{% block body %}
    <h1>Create new Diaryentry</h1>

    {{ include('app/diaryentry/_form.html.twig') }}

    <a href="{{ path('diaryentry_index') }}">back to list</a>
{% endblock %}
