
{% extends 'app/base.html.twig' %}

{% block body %}
    <!-- Page Heading -->
    <div class="mb-5">
        <div class="text-center">
            <h1 class="h3 text-gray-800 justify-content-center border-bottom pb-2 mb-2">Profilübersicht von {{ app.user.firstname }}</h1>
            <p class="mb-4">Hier findest du alle Informationen über dein Profil</p>
        </div>
    </div>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Profilinformationen</h6>
        </div>
        <div class="card-body">
            <p>#ToDo</p>

        </div>
    </div>
{% endblock %}
