{% extends 'landing/base.html.twig' %}

{% block body %}

        <!-- Nav -->
        <nav id="nav">
            <ul>
                <li><a href="#intro" class="active">{% trans %}Datenschutzerkl채rung{% endtrans %}</a></li>
                <li><a href="{{ path('app_landingpage') }}">{% trans %}Zur체ck{% endtrans %}</a> </li>
            </ul>
        </nav>

        <!-- Main -->
        <div id="main">

            <!-- Content -->
            <section id="content" class="main">
                {% trans %}datenschutzerkl채rung_part{% endtrans %}
                <ul class="actions">
                    <li><a href="{{ path('app_landingpage') }}" class="button primary">{% trans %}Zur체ck{% endtrans %}</a></li>
                </ul>
            </section>

        </div>




{% endblock %}
