{% extends 'landing/base.html.twig' %}

{% block body %}

    <!-- Nav -->
    <nav id="nav">
        <ul>
            <li><a href="#main" class="active">Releasenotes</a></li>
            <li><a href="{{ path('app_landingpage') }}">{% trans %}Zurück{% endtrans %}</a> </li>
        </ul>
    </nav>

    <!-- Main -->
    <div id="main">

        <!-- Content -->
        <section id="content" class="main">
            <h2>Release Notes</h2>
            <p>Das Ziel von epilepc ist, eine optimale Dokumentationsplattform für deine Bedürfnisse anzubieten. <br />
                Für jeden neuen Release sind auf dieser Seite alle durchgeführten Anpassungen und Korrekturen dokumentiert.</p>
            <h3>Version 1.1.0</h3>
            <h5>25.07.2021</h5>
            <ul>
                <li>Bei Anfälle können nun Notfallmedikamente notiert werden</li>
                <li>Medikationen werden in den Diagrammen nun durchgehend visualisiert.</li>
                <li>Solving Deprecations</li>
                <li>Bugfixing</li>
                <li>Weitere Übersetzungen implementiert</li>
            </ul>
            <hr>
            <h3>Version 1.0.4</h3>
            <h5>10.02.2020</h5>
            <ul>
                <li>epilepc gibts nun auch auf Englisch und Italienisch</li>
                <li>Bugs korrigiert</li>
            </ul>
            <hr>
            <h3>Version 1.0.3</h3>
            <h5>04.02.2020</h5>
            <ul>
                <li>Datatable sort & search verbessert</li>
                <li>Landingpage überarbeitet</li>
            </ul>
            <hr>
            <h3>v1.0.2</h3>
            <h5>12.09.2019</h5>
            <ul>
                <li>Honeypot zum Konktaktformular hinzugefügt</li>

            </ul>
            <hr>
            <h3>v1.0.1</h3>
            <h5>02.09.2019</h5>
            <ul>
                <li>Datetimepicker Bug für Firefox gefixt</li>
                <li>Releasenotes Seite hinzugefügt und verlinkt</li>
                <li>Grammatik korrigiert</li>
                <li>Hinweise unter Formularfelder hinzugefügt</li>
                <li>Landingpage Texte angepasst</li>
                <li>Events Hinweise hinzugefügt</li>

            </ul>
            <hr>

            <ul class="actions">
                <li><a href="{{ path('app_landingpage') }}" class="button primary">{% trans %}Zurück{% endtrans %}</a></li>
            </ul>
        </section>

    </div>




{% endblock %}
