{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'app/base.html.twig' %}

{% block body %}
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- 404 Error Text -->
        <div class="text-center mt-6">
            <div class="error mx-auto" data-text="404">404</div>
            <p class="lead text-gray-800 mb-5">Seite nicht gefunden</p>
            <p class="text-gray-500 mb-0">Scheint als hättest du einen Fehler in der Matrix gefunden...</p>
            <a href="{{ path('app_dashboard') }}">&larr; Zurück zum Dashboard</a>
        </div>

    </div>
    <!-- /.container-fluid -->
{% endblock %}